#!/usr/bin/env python
PACKAGE = "my_package"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("x", double_t, 0, "A Double parameter", 0, -500, 500) 
gen.add("y", double_t, 0, "A Double parameter", 0, -500, 500)
gen.add("z", double_t, 0, "A Double parameter", 0, -50, 50)
gen.add("roll", double_t, 0, "A Double parameter", 0.00,	-3.142, 3.142)
gen.add("pitch", double_t, 0, "A Double parameter", 0.00,	-3.142, 3.142)
gen.add("yaw", double_t, 0, "A Double parameter", 0.00,	-3.142, 3.142)
gen.add("ifPX2data", bool_t, 0, "Boolean parameter, if true: data was recorded on PX2, if false: data was recorded using ROS velodyne", True)
gen.add("doNDT", bool_t, 0, "Boolean parameter", False)

exit(gen.generate(PACKAGE, "my_package", "transformPoints"))
